/* This is where styles are defined for your page. */
/* One style is provided as example. */

h1, h2, h3, h4, h5, h6 {
    font-family: Arial,Helvetica,sans-serif;
}

header {
    margin: 3rem 1rem;
}
header p {
    margin-top: 0;
}
header h1 {
    margin-bottom: 0;
}

aside {
    max-width: 756px;
    width: 50%;
    padding: 1rem;
}
aside img {
    width: 160px;
    height: auto;
    float: right;
    margin: 10px;
}

section {
    clear: both;
}
ul.poem {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: 'Aladin', cursive;
}

ul.poem::first-letter { 
    font-size: 200%;
    color: #A81313;
}

.content-footer {

}
.page-footer {
    border-top: 2px rgba(0,0,0,0.6) solid;
    padding-top: 2rem;
}

html {
    background-image: url(images/hard-paper-texture.jpg);
    /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1a/Xanadu_on_Map_of_Asia.JPG)
    I tried using the above image but didn't seem to work for me. I also wanted to get some CSS notes on my page. Hello!*/
    background-repeat: no-repeat;
    background-size: cover;

}

body {
    margin: 0 auto;
    width: 75%;
    padding: 1rem;
    background-color: rgba(255,255,255,0.3);
    border-radius: 67px 67px 67px 67px;
}